codes/ump-parent/ump-springboot/ump-framework/ump-core/src/main/resources/config/wsdl_config/S090000001/S90000003.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://www.lzg.test.com"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="lzgWebService"
	targetNamespace="http://www.lzg.test.com">

	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://www.lzg.test.com" elementFormDefault="unqualified"
			targetNamespace="http://www.lzg.test.com" version="1.0">

			<xs:element name="doService" type="tns:doService" />
			<xs:element name="doServiceResponse"
				type="tns:doServiceResponse" />

			<xs:complexType name="doService">
				<xs:sequence>
					<xs:element minOccurs="0" name="serviceCode"
						type="xs:string" />
					<xs:element minOccurs="0" name="reqXml" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="doServiceResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

		</xs:schema>
	</wsdl:types>

	<wsdl:message name="doServiceResponse">
		<wsdl:part element="tns:doServiceResponse" name="parameters" />
	</wsdl:message>

	<wsdl:message name="doService">
		<wsdl:part element="tns:doService" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="ITestWebService">
		<wsdl:operation name="doService">
			<wsdl:input message="tns:doService" name="doService" />
			<wsdl:output message="tns:doServiceResponse"
				name="doServiceResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="testWebServiceSoapBinding"
		type="tns:ITestWebService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="doService">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="doService">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="doServiceResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="testWebService">
		<wsdl:port binding="tns:testWebServiceSoapBinding"
			name="TestWebServicePort">
			<soap:address
				location="https://192.168.4.188:8008/lzg/soap/testWebService" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>